---
import { t } from "i18next";
---
<div class="bg-gray-900 relative text-right px-10">
  <a
    href="#home"
    class="p-3 rounded-full text-lg bg-green-400 px-4 text-white font-bold"
    >^<span class="sr-only">{t("backToTop")}</span></a
  >
</div>
