---
//NOTE: This is the dark version of the hero section
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
const challenges = t("hero.challenges", { returnObjects: true });
---

<section class="relative pb-24 bg-gray-900 font-sans">
  <div class="relative px-16 mx-auto max-w-7xl xl:px-16">
    <div class="max-w-5xl pt-24 mx-auto mb-36 text-center">
      <h1 class="text-6xl text-white mb-10 font-black">
        <Trans i18nKey="hero.title">
          The
          <span
            class="w-full text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-400 to-purple-400 lg:inline"
            >Challenge</span
          >
          of
          <span
            class="w-full text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-400 to-purple-400 lg:inline"
            >Launching your own MVP</span
          >
        </Trans>
      </h1>
      <Trans i18nKey="hero.description">
        <p class="text-gray-300 sm:text-xl md:mt-5 lg:text-2xl md:max-w-4xl font-normal max-w-3xl mx-auto mb-8">
          Launching an MVP (Minimum Viable Product) is a monumental task,
          especially for solopreneurs !
        </p>
        <p class="text-gray-300 sm:text-xl md:mt-5 lg:text-2xl md:max-w-4xl font-normal max-w-3xl mx-auto mb-8">
          As such, you’re the visionary, the driving force behind your idea. You
          can - and you will - face these fraught :
        </p>
      </Trans>
    </div>
    <div
      class="max-w-2xl lg:max-w-7xl flex flex-col xl:flex-row justify-around items-start mx-auto pt-20 md:pt-0 pb-10 gap-24 md:gap-12"
    >
      {
        challenges.map((challenge, index) => {
          const [titleMoji, ...titleTextParts] = challenge.title.split(' ');
          const titleText = titleTextParts.join(' ');
          const icon = challenge.icon;
          return (
          <div class="relative container max-w-md mx-auto">
            <span class="text-[9rem] text-green-700 absolute left-0 -top-44 md:-left-4 md:-top-32 font-['Rubik_Doodle_Shadow']">
              {index + 1}
            </span>
            <div class="z-10 relative rounded-md text-gray-200 p-4 lg:max-w-lg h-full pb-20 xl:pb-0">
              <p class="text-center font-bold text-green-500 pb-4 text-2xl">
                <span class="text-4xl">{titleMoji}</span> {titleText}
              </p>
              <p class="text-center text-gray-400">{challenge.description}</p>
            </div>
          </div>
        )})
      }
    </div>
    <!-- <div
      class="relative max-w-2xl lg:max-w-7xl mx-auto bg-dark-light px-8 sm:px-10 lg:ps-20 lg:pe-10 pt-28 mt-10 pb-10 rounded-lg overflow-hidden bg-green-800 z-10"
    >
      <div class="absolute top-0 start-0 w-full py-2 bg-green-900">
        <div
          class="flex py-1 items-center justify-center max-w-xs mx-auto bg-green-700 rounded-lg"
        >
          <span class="fs-6 text-green-400">fabrik.dev</span>
        </div>
      </div>
      <div class="flex flex-wrap items-center">
        <div class="w-full pr-4 pl-4 pb-10">
          <div class="relative">
            <button
              class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 inline-block align-middle text-center select-none border font-normal whitespace-no-wrap leading-normal no-underline bg-gray-100 text-gray-800 hover:bg-gray-200 rounded-full p-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="90"
                height="90"
                viewBox="0 0 90 90"
                fill="none"
              >
                <circle cx="45" cy="45" r="45" fill="white"></circle>
                <path
                  d="M41.2987 34.6907C39.3669 33.5403 37.8008 34.4827 37.8008 36.7939V53.8498C37.8008 56.1633 39.3669 57.1045 41.2987 55.9552L55.6583 47.4058C57.5907 46.255 57.5907 44.3905 55.6583 43.24L41.2987 34.6907Z"
                  fill="#21C55D"></path>
              </svg>
            </button>
            <img
              class="max-w-full block w-full h-full rounded-sm"
              src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
            />
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <div class="absolute bottom-0 start-0 w-full">
    <div
      class="bg-gray-900 py-96"
      style="clip-path: ellipse(80% 40% at 49% 100%);"
    >
    </div>
  </div> -->
</section>
